include ../../00_data/cases

section.cases
  h2 Работы
  ul.cases__list
    each c, i in cases
      li.cases__list__item(data-case-src=`multimedia/images/cases/${c.image}.jpg` data-scroll-box="case" data-geometry="0")
        if c.name
          div(data-name)= c.name
        if c.description
          div(data-description)= `${i}: ${c.description}`
        if c.link
          a(data-link href=c.link.href)= c.link.name